@import url('IBM Plex Sans.css');
@import url('Material Icons.css');

:root {
    --font: 'IBM Plex Sans Regular', sans-serif;
    --font-medium: 'IBM Plex Sans Medium', sans-serif;

    /* font sizes */
    --small-size: 1.13rem;
    --standard-size: 1.5rem;
    --headline-size: 2.25rem;

    /* Colors */
    --light-color: #f6f6f6;
    --light-color-darker: #c8c8c8;
    --dark-color: #000;
    --hover-color: #a3a3a3;
}

/* Text */
.headline {
    font-size: var(--headline-size);
    font-family: var(--font-medium);
    color: var(--dark-color);
}

.headline3 {
    font-size: var(--standard-size);
    font-family: var(--font-medium);
    color: var(--dark-color);
}

.headline4 {
    font-size: var(--small-size);
    font-family: var(--font-medium);
    color: var(--dark-color);
}

.text {
    font-size: var(--standard-size);
    font-family: var(--font);
    color: var(--dark-color);
}

.text.small {
    font-size: var(--small-size);
    font-family: var(--font);
    color: var(--dark-color);
}

/* Material Icons */
.material-icons {
    font-family: 'Material Icons', emoji;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}
