@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    url('~/assets/fonts/Material Icons/MaterialIconsRound-Regular.otf') format('opentype');
}